@media screen and (max-width: 1280px) {
	#body-span {width: 98%;}
	#middle-content {width: 60%;}
	ul#main-menu{text-align: center;}
	#main-menu > ul > li {padding:0 15px;}
	#right-nav{padding-right:15px;}
}

@media screen and (min-width: 761px) and (max-width: 1279px) {
	.widget-title {font-size: 0.9em;}
	#main-menu > li{padding: 0 10px;}
	#main-menu a span,.sub-menu a span {font-size: 14px;}
	ul#main-menu li{text-align: left;}
	/*.blog-thumb-holder {width: 50% !important;border:1px solid red;}*/
	.post-thumb-holder-loop{height: auto;}
}

@media screen and (max-width: 760px) {
	#mobile-menu {display: block;}
	#mobile-menu:hover nav{display: block;}
	#middle-content{width: 100%;}
	nav{display:none;position: absolute;z-index: 99999999999;background-color: #fedb33;height: auto;border: 1px solid #141414; padding-bottom: 10px;}
	.dropdown-menu{display: block;position: static;width: 100%;}
	#main-menu > li {display: list-item;}
	#right-nav {display: none;}
	.col-span-3{width: 50%;float: left;}
	.col-span-4{width:100%;}
	#featured,.top-label,.row,#fmn-group,.cover-area,#enclose{display: inline-block;} /*Remove flex*/
	.label{margin-top:10px;}
	.box-holder{margin: 3px auto;}
	.caption strong, .widget-text strong{font-size: 1.3em;}
	.title-box{font-size: 0.8em;line-height: normal;padding:10px 20px;border-radius: 10px;overflow: hidden;position: relative;}
	article.page, .title-box{border-radius: 0;}
	article.page{max-height: none;}
	.title-box, .page-title{height: auto;}
	.page-title {margin-bottom: 0px;}
	.menu-media-container{margin-bottom:10px;}
	.footer-menu-title {font-size:1em;}
	.footer-menu li a {font-size: 0.7em}
	#logo{margin: 0 auto;}
	#header{background-size:auto 100%;}
	#jssor_html5_AdWords > div, #jssor_html5_AdWords > div > div {width: 190px !important;}
	.width{min-width: 0;}
	.excerpt h2 {font-size: 1.2em !important;}
	.excerpt div {font-size: 0.8em !important;}
	a.bx-pager-link{width: 5px !important;height: 5px !important;}
	.post-excerpt{font-size: 12px;}
	.col-span-6{width: 100%;}
	.post-thumb-holder-loop{min-height: 170px;background-position: center -20px;}
	#nav-below a, .read-more-btn, input[type="submit"]{padding: 5px 10px;font-size: 15px;}
	.group-icon-item {height: 150px;}
	ul.list-items > li,ul.list-items > li > ul > li {padding: 10px;}
	ul.list-items > li > ul > li{font-size: 12px;}
	.investor-contacts{width: 70%;margin: 10px auto;float: none;}
	.cat-image {display: block;margin: 20px auto;}
	.cat-image img{position: static;}
	.cat-desc{display: block;text-align: center;}
	#pop-content{width: 100%;display: block !important;}
	#pop-content h2 {text-align: center;}
	#pop-image {display: block !important;margin: 0 auto;}
	#enclose{display: block !important;}
	#modal{z-index:999999999999;overflow-y: auto;height: 100%;}
	#left-nav {display: block;width: 100%;bottom: 0;height: auto !important;max-width: none;}
	#left-nav ul {position: static;}
}

@media screen and (max-width: 500px) {
	.brand-widget-img{width: 100%;height: auto;}
}
